<a href="https://colab.research.google.com/github/akilchen/pandas_exercise/blob/main/CH07_%E7%94%A8Boolean_Series%E7%AF%A9%E9%81%B8%E7%89%B9%E5%AE%9A%E8%B3%87%E6%96%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np

Mounted at /content/drive

# **7.1 計算Boolean Series的統計資訊(製作Boolean Series)**

先對DataFrame的其中一個欄位進行條件判斷，進而得到boolean Series，再從中摘要出統計資訊。

01 讀取movie.csv,設定movie_title為index,篩選出duration欄位

In [3]:
movie = pd.read_csv('/content/drive/MyDrive/Pandas/data/movie.csv',index_col='movie_title')
movie[['duration']].head(10)

                                            duration
movie_title
Avatar                                         178.0
Pirates of the Caribbean: At World's End       169.0
Spectre                                        148.0
The Dark Knight Rises                          164.0
Star Wars: Episode VII - The Force Awakens       NaN
John Carter                                    132.0
Spider-Man 3                                   156.0
Tangled                                        100.0
Avengers: Age of Ultron                        141.0
Harry Potter and the Half-Blood Prince         153.0

02 找出哪些電影時常大於兩個小時的。<br>
(註:duration是以分鐘為單位)

In [8]:
movie_2_hours = movie['duration'] > 120  #這時的
movie_2_hours.head(10)
#現在的movie_2_hours還是一個長度和movie一樣的一個boolean Series，不是篩選過後的1039個。

movie_title
Avatar                                         True
Pirates of the Caribbean: At World's End       True
Spectre                                        True
The Dark Knight Rises                          True
Star Wars: Episode VII - The Force Awakens    False
John Carter                                    True
Spider-Man 3                                   True
Tangled                                       False
Avengers: Age of Ultron                        True
Harry Potter and the Half-Blood Prince         True
Name: duration, dtype: bool

03 因為boolean中的True和False對應的是1和0,所以用SUM()算出超過兩小時的影片數

In [9]:
movie_2_hours.sum()
#現在的movie_2_hours還是一個長度和movie一樣的一個boolean Series，不是篩選過後的1039個。

np.int64(1039)

04 算出超過2小時電影占所有電影的百分比，使用mean()*100<br>
(True的數量/總電影數量)X100

In [7]:
movie_2_hours.mean()*100

np.float64(21.13506916192026)

05 duration存在missing value,所以要刪除missing value

In [11]:
movie['duration'].dropna().gt(120).mean()*100

np.float64(21.199755152009793)

了解更多1:如果想比照mean()傳回True的百分比，可以使用value_counts找出no missing value的數量，同時將normalize設為True，會傳回True和False的百分比

In [14]:
(movie['duration'].dropna()
         .gt(120)  #產生boolean series
         .value_counts(normalize=True))#True的數量

duration
False    0.788002
True     0.211998
Name: proportion, dtype: float64

了解更多2:比較同一個DataFrame的兩個欄位生成boolean Series<br>
在每部電影中，演員1的按讚數比演員2的按讚數高的比例。

In [16]:
actors = movie[['actor_1_facebook_likes','actor_2_facebook_likes']].dropna() #取出相關欄位，移除missing value
(actors['actor_1_facebook_likes']>actors['actor_2_facebook_likes']).mean()

np.float64(0.9777687130328371)

# **7.2 設定多個boolean條件**

01 讀取movie.csv,設定movie_title為index

In [17]:
movie = pd.read_csv('/content/drive/MyDrive/Pandas/data/movie.csv',index_col='movie_title')

02 運用boolean建構多個filter,儲存成不同變數。

In [20]:
criteral1 = movie.imdb_score > 8
criteral2 = movie.content_rating =='PG-13'
criteral3 = ((movie.title_year < 2000) | (movie.title_year > 2009)) #括號是強迫先算，若想要結合兩個boolean Series,則需將個別運算式包起來

03 將所有filter整合成單一boolean Series

In [22]:
criteral_final = criteral1&criteral2&criteral3 #利用&結合多個過濾器
criteral_final.head()

movie_title
Avatar                                        False
Pirates of the Caribbean: At World's End      False
Spectre                                       False
The Dark Knight Rises                          True
Star Wars: Episode VII - The Force Awakens    False
dtype: bool